* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: #f4f6f8;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 240px;
	background-color: #1e293b;
	color: white;
	padding: 20px;
}

.logo {
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
}

.menu {
	list-style: none;
}

.menu li {
	margin-bottom: 15px;
}

.menu a {
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	display: block;
	border-radius: 6px;
	transition: 0.3s;
}

.menu a:hover,
.menu a.active {
	background-color: #334155;
}

.content {
	flex: 1;
	padding: 30px;
}

.content h1 {
	margin-bottom: 10px;
	color: #1e293b;
}

/* Card */

.sectionContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

/* Card */
.card {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 14px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
	transition: 0.3s ease;
}

.card:hover {
	transform: translateY(-6px);
}

.card h3 {
	margin-bottom: 8px;
	color: #1e293b;
}

.card p {
	margin-bottom: 15px;
	color: #64748b;
}

/* Buttons */
.card-buttons {
	display: flex;
	gap: 10px;
}

.edit-btn {
	flex: 1;
	padding: 8px;
	background-color: #2563eb;
	border: none;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.edit-btn:hover {
	background-color: #1d4ed8;
}

.delete-btn {
	flex: 1;
	padding: 8px;
	background-color: #dc2626;
	border: none;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.delete-btn:hover {
	background-color: #b91c1c;
}

/* Modal background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal box */
.modal-content {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
}

.modal-content h2 {
    margin-bottom: 15px;
    color: #1e293b;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #cbd5f5;
    outline: none;
}

.modal-buttons {
    display: flex;
    gap: 10px;
}

.save-btn {
    flex: 1;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #1d4ed8;
}

.cancel-btn {
    flex: 1;
    background-color: #64748b;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #475569;
}
